<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span>Model Details</h2>
    </div>
    <div class="panel-body text-center">
      <img ng-src="{{supermodel.picture.url | fpConvert: {filter:'sharpen', w:500} }}" alt="" />
      <h2>{{supermodel.name}}</h2>
      <hr />
      <p class="text-left"><label>gender: </label>{{supermodel.gender}}</p>
      <p class="text-left"><label>height: </label>{{supermodel.height}}</p>
      <div ng-if="supermodel.morePictures">
        <h3>More Pictures</h3>
        <div ng-repeat="picture in supermodel.morePictures">
          <div class="col-md-{{12 / supermodel.morePictures.length}}"></div>
          <a href="{{picture.url}}" class="thumbnail">
            <img ng-src="{{picture.url | fpConvert: {filter:'sharpen', w:500} }}" alt="">
          </a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
